.absolute-container {
  position: absolute;
}

.about-container {
  position: relative;
  min-height: 50vh;
  align-items: center;
  margin: 120px 0px 0px 120px;
}

.introduction {
  font-weight: bold;
  color: white;
}

.name {
  margin-top: 12px;
  font-size: 62px;
  font-weight: bold;
  background-image: linear-gradient(to right, #e77d11, #fda400);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin-top: 4px;
  font-size: 16px;
  color: #2a62a1;
}
.role {
  font-size: 22px;
  color: #61dbfb;
}
.sub-role {
  font-size: 22px;
  color: #7a378b;
}

.ganster-shades {
  height: 32px;
  position: relative;
  top: 8px;
}

.long-description {
  margin-top: 12px;
  width: 600px;
  color: whitesmoke;
}
.button-container {
  margin-top: 24px;
}
.btn-primary {
  height: 40px;
  width: 160px;
  color: white;
  border: none;
  font-size: 14px;
  background-color: #1dbc9b;
  border-radius: 4px;
}
.btn-primary:hover {
  cursor: pointer;
}
.earth-container {
  position: absolute;
  /* bottom: -55px; */
  top: 20%;
  right: 12%;
  cursor: pointer;
}
.earth-container img {
  height: 140px;
}
