.about-me-container {
  display: flex;
  background: #eaeaea;
}
.about-me-left {
  font-family: "Lato";
  flex: 1.5;
  color: #4c4c4c;
  padding: 80px 112px;
  line-height: 32px;
  font-size: 14px;
  margin-top: 42px;
}

.about-me-left h1 {
  margin-bottom: 12px;
}
.about-me-left p {
  font-size: 16px;
}

.about-me-right {
  flex: 1;
}
