.navbar-container {
  display: flex;
  height: 10vh;
  background-color: #1c3548;
}

.navbar-logo-container {
  flex: 1;
  margin: auto;
}
.menu-list-container {
  flex: 0.5;
  margin: auto;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu {
  text-decoration: none;
  color: white;
}
