.navbar-container {
  display: flex;
  height: 10vh;
  background-color: #1c3548;
}
.navbar-container img {
  margin-top: 16px;
  margin-left: 16px;
  height: 60px;
}

.navbar-logo-container {
  flex: 1;
  margin: auto;
}
.menu-list-container {
  flex: 0.5;
  margin: auto;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu {
  text-decoration: none;
  color: white;
}

.menu a {
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.3s background-size;
  text-transform: uppercase;
}

.menu a:hover {
  background-size: 100% 0.1em;
}

/* Variations */
a.left {
  background-position: left bottom;
}

a.right {
  background-position: right bottom;
}
